@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
    margin: 0px;
    padding: 0px;

    --blue1: hsl(206 100% 99.2%);
    --blue2: hsl(210 100% 98.0%);
    --blue3: hsl(209 100% 96.5%);
    --blue4: hsl(210 98.8% 94.0%);
    --blue5: hsl(209 95.0% 90.1%);
    --blue6: hsl(209 81.2% 84.5%);
    --blue7: hsl(208 77.5% 76.9%);
    --blue8: hsl(206 81.9% 65.3%);
    --blue9: hsl(206 100% 50.0%);
    --blue10: hsl(208 100% 47.3%);
    --blue11: hsl(211 100% 43.2%);
    --blue12: hsl(211 100% 15.0%);

    --slate1: hsl(206 30.0% 98.8%);
    --slate2: hsl(210 16.7% 97.6%);
    --slate3: hsl(209 13.3% 95.3%);
    --slate4: hsl(209 12.2% 93.2%);
    --slate5: hsl(208 11.7% 91.1%);
    --slate6: hsl(208 11.3% 88.9%);
    --slate7: hsl(207 11.1% 85.9%);
    --slate8: hsl(205 10.7% 78.0%);
    --slate9: hsl(206 6.0% 56.1%);
    --slate10: hsl(206 5.8% 52.3%);
    --slate11: hsl(206 6.0% 43.5%);
    --slate12: hsl(206 24.0% 9.0%);

        --pink1: hsl(322 100% 99.4%);
        --pink2: hsl(323 100% 98.4%);
        --pink3: hsl(323 86.3% 96.5%);
        --pink4: hsl(323 78.7% 94.2%);
        --pink5: hsl(323 72.2% 91.1%);
        --pink6: hsl(323 66.3% 86.6%);
        --pink7: hsl(323 62.0% 80.1%);
        --pink8: hsl(323 60.3% 72.4%);
        --pink9: hsl(322 65.0% 54.5%);
        --pink10: hsl(322 63.9% 50.7%);
        --pink11: hsl(322 75.0% 46.0%);
        --pink12: hsl(320 70.0% 13.5%);

        --crimson1: hsl(332 100% 99.4%);
        --crimson2: hsl(330 100% 98.4%);
        --crimson3: hsl(331 85.6% 96.6%);
        --crimson4: hsl(331 78.1% 94.2%);
        --crimson5: hsl(332 72.1% 91.1%);
        --crimson6: hsl(333 67.0% 86.7%);
        --crimson7: hsl(335 63.5% 80.4%);
        --crimson8: hsl(336 62.3% 72.9%);
        --crimson9: hsl(336 80.0% 57.8%);
        --crimson10: hsl(336 73.7% 53.5%);
        --crimson11: hsl(336 75.0% 47.2%);
        --crimson12: hsl(340 65.0% 14.5%);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.progress {
    padding: 6px;
    color: #fff;
    margin: 15px 0px;
    background-color: #11181c4b;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 300px;
    height: 40px;
}

.progress-done {
    color: #fff;
    background: linear-gradient(-60deg, var(--blue9), var(--crimson8), var(--blue9), var(--pink9));
    background-size: 400% 400%;
    border-radius: 8px;
    height: 100%;
    transition: 1s ease;
    animation: gradient 60s ease infinite;
}